# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Bài thi module2\APJ-EXAM-C0221H1-NguyenLeNhatQuang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
